*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Sora", serif;
    
}
:root{
    --header-bg:#10375C;
}
/* =======================common============================= */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 99px;
}
.btn:hover{
    opacity: 0.7;
}

.section-heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.section-desc{
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
/* =========================header=========================== */
.header{
    padding-top: 30px;
    background: var(--header-bg);
    min-height: vh;

}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    display: flex;
    gap: 42px;
}
.action__login,
.navbar__link{
    padding: 8px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active{
    text-shadow: 1px 0 0 currentColor;
    color: #FFF;

}
.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    top: -3px;
    position: relative;
    right: 8px;
}
.action__signup{
    margin-left: 20px;
    min-width: 104px;
    line-height: 44px;
    border-radius: 22px;
    font-size: 1.6rem;
}
/* ===========================================hero============================================ */

.hero{
    display: flex;  
    padding-top: 76px;
    align-items: center;
}
.hero__content{
    width: 44%;
}
.hero__media{
    
    flex: 1;
}
.hero__heading{
    color: #FFF;
font-size: 7rem;
font-weight: 600;
line-height: 1.15; /* 114.286% */
letter-spacing: -1.4px;
}
.hero__desc{
    color: #C9D2DA;
font-size: 18px;
font-weight: 300;
line-height: 30px; /* 166.667% */
}
.hero__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}
.hero__phone{
    color: #FFF;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.67; /* 166.667% */
}   
.hero__images{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.hero__img{
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}
.hero__img-large{
    /* margin-top: 84px; */
    width: 330px;
    height: 540px;
   
}
.hero__img-small{
    /* margin-top: 141px; */
    width: 210px;
    height: 410px;  
}
/* ======================================service============================*/
.service{
    padding-top: 170px;
}
.service__heading,.service__desc{
    text-align: center;
}
.service__desc{
    width: 468px;
    margin: 0 auto; 
}
.service__row{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service__img{
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service-item{
    padding: 21px;
    display: flex;
    width: 470px;
    border-radius: 10px;
    background: #fff; 
}
.service-item:hover{
position: relative;
box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 1);
}
.service-item__icon{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    transition: 0.25;
}
.service-item:hover .service-item__icon{
    color: #fff;
    background: #2E80CE;
}
.service__btn{
    margin-top: 55px;
}
/* ===================================work================================== */

.work{
    padding: 100px 0;
}
.work__desc{
    width: 468px;
}
.work__list{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}
.work-item{
    padding: 43px;
    border-radius: 4px;
    background: #fff;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}
.work-item:hover{
    border-color:  #2E80CE;
    transform: translateY(-16px);
}
.work-item__heading{
    margin: 18px 0 28px;
    color: #10375C;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
}
.work-item__desc{
    margin-bottom: 18px;
    color: #575F66;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; /* 175% */
}
.work-item__more{
    color: #2E80CE;
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
}